body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

nav{
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
  
}

.menu{
    width: 40%;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul{
    width: 65%;
    padding-left: 0;
    border: 1px solid blue;
    display: flex;
    list-style: none;
    justify-content: space-between;
    font-size: small;
}
li>select:first-child{
    border: none;
    font-family: sans-serif;
}

.menu>button{
 color: #671795;
 padding: 7px 15px;
 border-radius:40px;
 border: 0.5px solid #671795;

 font-size: small;
}
.header_section{
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    margin-top: 100px;
}
.left,.right{
    border: 1px solid red;
}
.version{
    background-color: #efe6f4;
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 0px 15px;
    border-radius: 20px;
}

.version>img{
    position: relative;
    top: -3px;
}
.version>p{
    color: #671795;
    font-size: small;
    font-weight: 700;
    padding-left: 7px;
}
.version>p>span:hover{
   text-decoration: underline;
}
.left>h1{
    font-size: 40px;
    margin-top: 10px ;
    margin-bottom: 20px;
    font-weight: 700;
}
.left>p{
    color: #808080;
    font-size: small;
    line-height: 20px;
}
.btn>button:first-child{
    font-size: small;
    color: #ffffff;
    border: none;
    background-color: #671795;
    padding: 8px 17px;
    border-radius: 20px;
    margin-top: 10px;
}
.btn>button:last-child{
    font-size: small;
    color: #671795;
    border: none;
    background-color: #efe6f4;
    padding: 7px 15px;
    border-radius: 20px;
    margin-left: 8px;
}

.right>img{
    width: 65vh;
}
main{
    
    border: 1px solid red;
    margin-top: 200px;
}

.eye_div{
  width: fit-content;
    display: flex;
    align-items: center;
    margin: auto;
    color: #671795;
    border: none;
    background-color: #efe6f4;
    padding: 7px 20px 7px 20px;
    border-radius: 30px;

}

.eye_div>p{
    font-size: 14px;
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

.h1_p{
    text-align: center;
}
.h1_p>p{
    color: #808080;
    font-size: small;
    line-height: 20px;
}

.featurs_div{
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: auto;
    margin-top: 20px;
}

.featurs_div>div{

  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.featurs_div>div>h4{
      margin-top: 12px;
      margin-bottom: -2px;
      font-size: 15px;
}

.featurs_div>div>p{
    color: #808080;
    font-size: 15px;
}

.team_div{
    width: fit-content;
      display: flex;
      color: #671795;
      border: none;
      background-color: #efe6f4;
      padding: 7px 20px 7px 20px;
      border-radius: 30px;
      align-items: center;
  
  }

.team_div>p{
    font-size: 14px;
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
}
.launch_div{
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.launch_left>img{
    width: 75%;
}
.launch_right>p{
    color: #808080;
    font-size: 14px;
    line-height: 20px;
}

.data_driven{
    
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 100px;
    border: 1px solid red;
}


.data_drivenL{
    border: 1px solid red;
    width: 35%;
    margin-left: 190px;
}

.data_drivenL>p{
    color: #808080;
    font-size: 14px;
    line-height: 20px;
}

.data_drivenR{
    border: 1px solid red;
    overflow: hidden;
}

.data_drivenR>img{
    border: 1px solid red;
    width: 90%;
}

.logos_div{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logos_div>h2{
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
}

.logos_div>img{
    border-radius: 100%;
}
.logos_div>p{
    font-size: small;
    font-weight: 700;
    line-height: 18px;
}

.logos_div>div{
    width: 65%;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
}

.logos_div>hr{
    width: 75%;
    background-color: #e9e6e6;
    margin-bottom: 20px;
}

.last{
    border: 1px solid red;
    width: 70%;
    display: flex;
    margin: auto;
    margin-top: 200px;
}
.last_left{
    border: 1px solid black;
    width: 50%;

}
.last_right{
    border: 1px solid black;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.partial_hr{
    display: flex;
}

.partial_hr>hr{
    transform: rotate(90deg);
    height: 120px;
    background-color: #e9e6e6;
    margin-top: -35px;
   
}
.gridLogo{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   grid-template-rows: 100px;

    grid-gap: 20px;
}

form{
    border: 1px solid blue;
    width: 50%;

}
form>input{
    width: 100%;
}
.last_right>hr{
   margin-top: 20px;
  margin-bottom: -10px;
   background-color: rgb(223, 221, 221);
   width: 80%;
}