body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

nav{

    display: flex;
    justify-content: space-around;
    width: 86%;
    margin: auto;
    margin-top: 30px;
  
}

.menu{
    width: 40%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    cursor: pointer;
}

ul{
    width: 65%;
    padding-left: 0;

    display: flex;
    list-style: none;
    justify-content: space-between;
    font-size: small;
}
li>select:first-child{
    border: none;
    font-family: sans-serif;
}

.menu>button{
 color: #671795;
 padding: 7px 15px;
 border-radius:40px;
 border: 0.5px solid #671795;
 font-size: small;
 transition: 0.5s;
}

.menu>button:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.header_section{
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    margin-top: 100px;
}

.version{
    background-color: #efe6f4;
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 0px 15px;
    border-radius: 20px;
}

.version>img{
    position: relative;
    top: -3px;
}
.version>p{
    color: #671795;
    font-size: small;
    font-weight: 700;
    padding-left: 7px;
}
.version>p>span:hover{
   text-decoration: underline;
}
.left>h1{
    font-size: 40px;
    margin-top: 10px ;
    margin-bottom: 20px;
    font-weight: 700;
}
.left>p{
    color: #808080;
    font-size: small;
    line-height: 20px;
}
.btn>button:first-child{
    font-size: small;
    color: #ffffff;
    border: none;
    background-color: #671795;
    padding: 8px 17px;
    border-radius: 20px;
    margin-top: 10px;
    transition: 0.5s;
}

.btn>button:first-child:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.btn>button:last-child{
    font-size: small;
    color: #671795;
    border: none;
    background-color: #efe6f4;
    padding: 7px 15px;
    border-radius: 20px;
    margin-left: 8px;
    transition: 0.5s;
}

.btn>button:last-child:hover{
    cursor: pointer;
    transform: scale(1.2);
}
.right>img{
    width: 65vh;
}
main{

    margin-top: 200px;
}

.eye_div{
  width: fit-content;
    display: flex;
    align-items: center;
    margin: auto;
    color: #671795;
    border: none;
    background-color: #efe6f4;
    padding: 7px 20px 7px 20px;
    border-radius: 30px;

}

.eye_div>p{
    font-size: 14px;
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
}

.h1_p{
    text-align: center;
}
.h1_p>p{
    color: #808080;
    font-size: small;
    line-height: 20px;
}

.featurs_div{
    display: flex;
    justify-content: space-around;
    width: 70%;
    margin: auto;
    margin-top: 20px;
}

.featurs_div>div{

  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.featurs_div>div>h4{
      margin-top: 12px;
      margin-bottom: -2px;
      font-size: 15px;
}

.featurs_div>div>p{
    color: #808080;
    font-size: 15px;
}

.team_div{
    width: fit-content;
      display: flex;
      color: #671795;
      border: none;
      background-color: #efe6f4;
      padding: 7px 20px 7px 20px;
      border-radius: 30px;
      align-items: center;
  
  }

.team_div>p{
    font-size: 14px;
    margin-left: 10px;
    margin-top: 0;
    margin-bottom: 0;
}
.launch_div{
    display: flex;
    width: 70%;
    margin: auto;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.launch_left>img{
    width: 75%;
}
.launch_right>p{
    color: #808080;
    font-size: 14px;
    line-height: 20px;
}

.data_driven{
    
    display: flex;
    justify-content: right;
    align-items: center;
    margin-top: 100px;

}


.data_drivenL{

    width: 35%;
    margin-left: 190px;
}

.data_drivenL>p{
    color: #808080;
    font-size: 14px;
    line-height: 20px;
}

.data_drivenR{

    overflow: hidden;
}

.data_drivenR>img{

    width: 90%;
}

.logos_div{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logos_div>h2{
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
}

.logos_div>img{
    border-radius: 100%;
    cursor: pointer;
}
.logos_div>p{
    font-size: small;
    font-weight: 700;
    line-height: 18px;
    cursor: pointer;
}

.logos_div>div{
    width: 65%;
    display: flex;
    justify-content: space-between;
}

.logos_div>hr{
    width: 75%;
    background-color: #e9e6e6;
    margin-bottom: 20px;
}

.last{

    width: 70%;
    display: flex;
    margin: auto;
    margin-top: 200px;
}
.last_left{

    width: 50%;

}

.trusted_by{
    color: #808080;
    font-size: small;
}
.last_right{

    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: #f0d8ed;
    /* height: 72vh; */
}
.partial_hr{
    display: flex;
}

.partial_hr>hr{
    transform: rotate(90deg);
    height: 120px;
    background-color: #e9e6e6;
    margin-top: -38px;
   
}
.gridLogo{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
   grid-template-rows: 100px;

    grid-gap: 20px;
}
.form_div{
 
    width: 90%;
    position: relative;
    top: -30px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
    /* height: 80vh; */
    
}
.form_div>h1{
    margin-bottom: 5px;
    margin-top: 30px;
    font-size: 27px;
    font-weight: 700;
}

form{

    width: 80%;
    /* overflow: hidden; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: -5px;

}
form>input{
    width: 100%;
    margin: 8px 0px;
    padding: 10px;

}

form>input:first-child{
    width: 109%;
    cursor: pointer;
    padding: 12px;
    border: none;
    border-radius: 5px;
    box-shadow: #ffffff;
    background-color: #671795;
    color: #ffffff;
}

form>input:first-child:hover{
    background-color: #53097d;
}
.form_div>img{
    margin: -10px;
    cursor: pointer;
}

.form_div>hr{
   margin-top: 20px;
  margin-bottom: -3px;
   background-color: rgb(223, 221, 221);
   width: 75%;
}

.form_div>p:last-child{
     font-size: small;
     cursor: default;
     color: #808080;
}
.form_div>p:last-child>span{
    color: #671795;
}
.form_div>p:last-child>span:hover{
  cursor: pointer;
    border-bottom-style:solid;
}


footer{
    margin-top: 100px;
    background-color: #f4f1f1;
}

.inside_footer{
    display: flex;  
    margin-top: 100px;
    width: 70%;
   padding-top: 30px;
   padding-bottom: 30px;
    margin: auto;
    justify-content: space-between;
    


}

.inside_footer>div>p{
    font-size: 11px;
    color: #808080;
    cursor: pointer;
}
.inside_footer>div>p:hover{
    color: #c088e1;
}

.inside_footer>div>p:first-child{
    font-size: 15px;
    font-weight: 600;
    color: black;
    cursor:default;
}

.first_pOf{
    color: #808080;
    font-size: small;
    width: 180px;
    line-height: 18px;
    cursor: default;
}


.last_footer_div>input{
    padding: 7px;
}

.last_footer_div>img{
    position: relative;
    left: -25px;
    top: 2px;
    width: 15px;
    cursor: pointer;
}

.social>img{
    margin-right: 8px;
    cursor: pointer;
}