body{
    margin: 0;
    padding: 0;
}
#topBg_div{
    background-image: url(./images/photos/futuristic-bg.png);
background-size: cover;
padding: 30px 90px;
font-family: sans-serif;
}

nav{
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.logo_div{

    display: flex;
}

ul{

    display: flex;
    list-style: none;
    margin-left: 80px;
    font-size: small;
}
li{
    padding-right: 30px;
}
.register_div{
    font-size: small;
}
.register_div>button:first-child{
   background: none;
   color:white;
}
.register_div>button:last-child{
    background-color: #f7612a;
    padding: 10px 25px;
    margin-left: 10px;
    color:white;
}
.get_started{
    display: flex;
    justify-content: space-between;
   color: white;
   margin-top: 100px;
   margin-bottom: 30px;

}
.startedBtn_div{
    display: flex;
    margin-top: 47px;
  

}
.startedBtn_div>button:first-child{
    background-color: #f7612a;
    border: 1px solid #f7612a;
    color: white;
    padding: 15px 40px;
    margin-right: 20px;
    
}
.startedBtn_div>button:last-child{
   border: 1px solid white;
   color: white;
   background: none;
   border: 1px solid white;
   padding: 15px 40px;
  
}
.firstH1{
    font-size: 45px;
    font-weight: bold;
    line-height: 65px;
}
.left_div>p{
    font-size: small;
    line-height: 25px;
    color: rgb(165, 163, 163);
    
}
.right_div{

margin-top: 115px;
}

.right_div>img{
    width: 12vh;
    margin-left: 20px;
    background-color: rgb(54, 1, 1);
    border-radius: 100%;
}

.bottom_arr{
    display: flex;

    font-size:17px;
    margin-top: 120px;
    margin-right: px;
}
.bottom_arr>hr{
    transform: rotate(90deg);
    background-color: white;
    height: 40px;
    margin-right: 40px;
}
.bottom_arr>img{
       margin-left: 20px; 
}
main{
    padding: 120px 90px;
}
main>h1{
    text-align: center;
    font-weight: bolder;
    font-size: 40px;
    margin-bottom: 60px;
    font-family: sans-serif;
}
.categories{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, auto);
 
    margin: auto;

    

}
.cards{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
.cards>img{
width: 95%;
height: 300px;
object-fit: cover;
}
.first_img{
   width: 80%;
   height: 350px;
   object-fit: cove;

   object-position: 78% 15%;
}

.desc{
    font-family: sans-serif;
    position: relative;
    margin-top: -96px;
    background-color:black;
    width: 95%;
    display: flex;
    align-items: center;
    color: white;
    background: transparent;
    backdrop-filter: blur(20px);

     border: 1px transparent;
    justify-content: space-around;
    
}
.name{
    font-family: sans-serif;
   
}
.name>h4{

   margin-top: 12px;
   font-family: sans-serif;
 
}
.name>p{
    color: rgb(177, 169, 169);
   margin-top: -12px;
   margin-bottom: 7px;
}
.rating{
    margin-bottom: 12px;
}
.btnDiv>button{
    background-color: #f7612a;
    border: none;
    padding: 10px 15px;
    font-size: 14px;
    color: white;
}
.main_third{
    display: flex;
    gap: 50px;
    margin-top: 100px;
}
.one>img{
    width: 75vh;
    height: 60vh;
}
.two>h1{
   font-size: 40px;
   font-family: sans-serif;
   
}
.two>p{
    color: gray;
}
.two>div>button:first-child{
    background-color: #f7612a;
    border: none;
    color: white;
    padding: 15px 30px;
}
.two>div>button:last-child{
    background-color: transparent;
    border: 1px solid #f7612a;
    color: #f7612a;
    padding: 15px 30px;
    box-shadow: #f7612a;
}